<!-- main.hbs-->

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Salmon Brioche</title>
    <style type="test/css"> 
    .fields { width: 400px; float: left;} 
    </style>
</head>
<nav>
    <a href="/"> Home </a> |
    <a href="/departments">Departments</a> | 
    <a href="/employees">Employees</a> | 
    <a href="/salaries">Salaries</a> | 
    <a href="/jobs">Jobs</a> |
    <a href="/employeestojobs">Assign Employees</a>
</nav>
<body>

    {{{body}}}

</body>
</html>