table {
    border-collapse: collapse;
    border: 1px solid black;
    table-layout: fixed;
    width: 60%;
}

th{
    width: 6%;
    text-align: center;
}
th+th {
    width: 40%;
}
th+th+th {
    width: 30%;
}
th+th+th+th {
    width: 12%;
}
th+th+th+th+th {
    width: 12%;
}