table {
    border-collapse: collapse;
    border: 1px solid rgb(0, 0, 0);
    table-layout: auto;
    width: 60%;
}

th{
    width: 6%;
}
th+th {
    width: 40%;
}
th+th+th {
    width: 30%;
}
th+th+th+th {
    width: 24%;
}
