table {
    border-collapse: collapse;
    border: 1px solid rgb(0, 0, 0);
    table-layout: fixed;
    width: 60%;
}

th{
    width: 13%;
}
 th+th {
    width: 12%;
}

th+th+th {
    width: 30%;
}

th+th+th+th {
    width: 15%;
}

th+th+th+th+th {
    width: 15%;
}
th+th+th+th+th+th {
    width: 10%;
}