table {
    border-collapse: collapse;
    border: 1px solid rgb(206, 57, 57);
    table-layout: fixed;
    width: 60%;
}

th{
    width: 15%;
    text-align: center;
}
th+th {
    width: 30%;
}
th+th+th {
    width: 30%;
}
th+th+th+th {
    width: 10%;
}
th+th+th+th+th {
    width: 15%;
}